<tr class="material">
  <td><p><%= m.text_field :name, class:"form-control form-control-sm col-12" %></p></td>
  <td><p><%= m.text_field :quantity, class:"form-control form-control-sm col-12" %></p></td>
</tr>