<% if user != current_user %>

  <% if user.is_followed_by?(current_user) %>
    <span class="faa-parent animated-hover">
      <i class="fas fa-glass-cheers faa-tada"></i>
      <%= link_to "フォロー中", user_relationships_path(user), method: :delete, remote: true %>
    </span>
  <% else %>
    <span class="faa-parent animated-hover">
      <i class="fas fa-user-plus faa-tada"></i>
      <%= link_to "フォローする", user_relationships_path(user), method: :post, remote: true %>
    </span>
  <% end %>
  
<% end %>