<div class="container-fluid">
  <div class="top-page">
    <p class="greeting">
      <h1 class="greeting-main">Welcome to Cocktail-House !!</h1>
    </p>
    <p class="enter">
      <%= link_to "enter", new_user_session_path, class:"btn btn-warning col-4 faa-horizontal animated-hover" %>
    </p>
  </div>
</div>