/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #dc3545;
}

ul {
  list-style: none;
}

body {
  background-color: #D2BEB3;
  font-family: "Hannari";
  // font-family: 'Abril Fatface', cursive;
  // font-family: 'Caveat', cursive;
  background-image: url(image_home.jpg);
  background-position: 0 35%;
  background-attachment: fixed;
  background-size: cover;
}

header {
  background-color: rgba(0,0,0,0.1);
  background-blend-mode: lighten;
  min-height: 8rem;
}

main {
  background-color: rgba(210,190,180,0.6);
  background-blend-mode: lighten;
  border-top: solid 1px #999;
  border-bottom: solid 1px #999;

  .container {
  background-color: rgba(210,190,180,0.8);
  background-blend-mode: lighten;
  padding-bottom: 4rem;
  min-height: 31rem;
  }
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 5rem;
  background-color: rgba(0,0,0,0.1);
  background-blend-mode: lighten;

  .copyright {
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
}

.footerFixed {
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 5rem;
}

.header-container {
  padding: 0.5rem 5rem;
}

.logo-title {
  font-family: 'Caveat', cursive;
  padding: 1rem 1rem 0.5rem 1rem;
  font-size: 3rem;
  color: #932f0c
}

.nav-bar {
  margin-left: 2rem;

  .nav-item {
    padding: 0 1rem;
    border-left: solid 1px #0006;
    margin-top: 0.8rem;

    a {
      color: black;
    }
  }

  .nav-item:hover {
    background: #e8c984;
  }

  .nav-item.logout {
    padding-top: 0.2rem;
    font-size: 0.8rem;
    color: #d5d4d4;
    a {
      color: #d5d4d4;
    }
  }

  .new-cocktail {
    margin-left: 7rem;

    .btn {
        border: solid 1px #d5a209;
      }

    a {
      color: #3c0168;;
    }
  }
}
