// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cocktail-item {

  label {
    margin-bottom: -0.3rem;
    font-size: 0.9rem;
  }

  p {
    width: 21rem;
    margin-bottom: 1.5rem;

    #cocktail_image {
      margin-top: 1rem;
    }
  }
}

.material-item {

  td {
    padding-right: 1rem;
  }

  p{
    width: 10rem;
    margin-bottom: 1rem;
  }
}