// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cocktail-title {
  padding: 2rem;
}

.cocktail-item {
  margin-left: 4rem;

  label {
    margin-bottom: -0.3rem;
    font-size: 0.9rem;
  }

  p {
    width: 26rem;
    margin-bottom: 1.5rem;

    #cocktail_image {
      margin-top: 0.5rem;
    }
  }

  .btn {
    width: 26rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    border: solid 1px #999;
  }
}

.material-item {

  td {
    padding-right: 1rem;
  }

  p {
    width: 12.5rem;
    margin-bottom: 1rem;
  }
}

.cocktail-icon {
  margin-bottom: 1.5rem;
  text-align: center;

  img {
    border-radius: 5%;
    object-fit: cover;
    border: 1px solid #999 ;
    height: 250px;
    width: 200px;
  }
}

.cocktail-info {
  padding-bottom: 0.5rem;

  div {
    margin-left: 2rem;
  }
}

.cocktail-info.item {
  padding-bottom: 1rem;
}

.favorites {
  text-align: center;
  font-family:"游ゴシック体";

  p {
    margin-bottom: 0.3rem;
  }
}

.favorites-index {
  font-family:"游ゴシック体";
  margin-left: 5.5rem;
  margin-top: 0.7rem;
}

.favorites-index-us {
  margin-left: 1rem;
}

.no-favorites {
  text-align: center;
  margin-top: 6rem;
}

.action {
  margin-right: 1rem;

  a {
    color: indigo;
    font-size: 0.9rem;
  }
}

.material-info {
  margin-bottom: 1rem;
  margin-left: 2rem;

  span {
    margin-right: 0.5rem;
  }
}

.comment-title {
  font-family: 'Caveat', cursive;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.comment-index .row {
  margin: 0.5rem 0;
  border-bottom: 0.5px solid #999;
}

.comment-icon {
  text-align: center;
  height: 65px;
  width: 65px;

  img {
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #999 ;
    height: 40px;
    width: 40px;
  }

  span {
    font-size: 0.8rem;
  }

  a {
    color: blue;
  }
}

.comment {
  margin: 0.5rem 0.5rem;
  font-size: 0.9rem;
  width: 28rem;

  p {
    margin-bottom: 0;
    text-align: right;

    a {
      color: indigo;
      font-size: 0.7rem;
    }
  }
}

.comment-form {
  text-align: right;

  .form-control {
    font-size: 0.9rem;
  }
  .btn {
    margin-top: 0.2rem;
    border: 1px solid #999;
  }
}

.search-box {
  form {
    margin-left: 3rem;
    display: flex;
    opacity: 0.9;
  }
}

.search-result {
  margin: 4rem 3rem 2rem 3rem;
}