// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cocktail-item {
  display: flex;

  label {
    width: 7rem;
    text-align: right;
    margin-right: 1rem;
    padding-top: 0.2rem;
  }

  p {
    width: 13rem;
    margin-right: 2rem;
  }
}