// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notification-title {
  font-family:"游ゴシック体";
  padding: 2rem 5rem;
}

.notification {
  padding: 0.5rem 0;
  border-bottom: solid 1px #999;
}

.user-icon-notif {
  img {
    background-color: rgba(255,255,255,0.86);
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #999 ;
    height: 40px;
    width: 40px;
  }
  a {
    color: green;
  }
}

.notice {
  min-height: 0.5rem;
}
.notice.comment {
  font-size: 1.1rem;
  color: darkslategrey;
  margin-left: 3rem;
}

.datetime {
  font-family: 'Caveat', cursive;
  text-align: right;
}

.no-notification {
  text-align: center;
}