.login-title {
  margin: 3rem;
}

.login-form-group {
  margin: 4rem auto;
  
  .login-field {
    margin-bottom: 1rem;
    width: 20rem;
  }
  .login-actions {
    margin-top: 2rem;
  }
  
  .login-info{
    text-align: right;
    margin-top: 0.5rem;
    font-size: smaller;
  }
}



