.signup-title {
  margin: 2rem 3rem;
}

.signup-form-group {
  margin: 1rem auto;

  .signup-field {
    margin-bottom: 1rem;
    width: 20rem;

    .input{
    background-color: #d2beb375;
    }
  }
  .signup-actions {
    margin-top: 3rem;
  }

  .signup-info {
    text-align: right;
    margin-top: 0.5rem;
    font-size: smaller;
  }
}

#error_explanation {
  font-family: 'Caveat', cursive;
}