// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-title {
  padding: 2rem 3rem;
}

.all-users {
  border-bottom: solid 1px #999;
}

.user-icon {
  text-align: center;
  margin-bottom: 3rem;

  img {
    background-color: rgba(255,255,255,0.86);
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #999 ;
    height: 130px;
    width: 130px;
  }
}

.user-icon-sm {
  text-align: center;
  margin-bottom: 1.2rem;
  margin-top: -1rem;

  span {
    font-size: 0.9rem;
    margin-right: 0.3rem;
  }
  img {
    background-color: rgba(255,255,255,0.86);
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #999 ;
    height: 33px;
    width: 33px;
  }
  a {
    color: darkblue;
  }
}

.user-icon-sm-2 {
  // text-align: center;

  span {
    font-size: 0.9rem;
    margin-right: 0.3rem;
  }
  img {
    background-color: rgba(255,255,255,0.86);
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #999 ;
    height: 40px;
    width: 40px;
  }
  a {
    color: darkblue;
  }
}

.user-name {
  font-size: 1.5rem;

  a {
    color: black;
  }
}

.user-profile-1 {
  text-align: center;

  img {
    background-color: rgba(255,255,255,0.86);
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #999 ;
    height: 120px;
    width: 120px;
  }

  .action {
    text-align: center;
    margin-right: 0;
    margin-top: 0.5rem;
  }
}

.user-profile-2 {
  padding-left: 1rem;

  p {
    margin-left: 2rem;
  }
}

.user-profile-3 {
  padding-left: 2rem;
  margin-top: 1.5rem;

  p {
    margin-left: 0;
  }
  span {
    padding: 1rem 0;
    font-size: 0.9rem;
  }
  .fas {
    color: teal;
  }
}

.my-cocktails-title {
  font-family: 'Caveat', cursive;
  margin: 5rem 5rem 2.3rem;
}

.user-form {
  margin-left: 4rem;
  margin-top: 3rem;

  form {
    margin: 0 auto;
  }
}

.user-item {
  margin-bottom: 2rem;

  p {
    margin-left: 2rem;
  }
  .btn {
    margin-left: 2rem;
    margin-top: 2rem;
    width: 8rem;
  }
}

.relationships {
  font-family:"游ゴシック体";
  text-align: center;

  .fas {
    color: teal;
  }
  a {
    color: teal;
  }
}

.no-relationships {
  text-align: center;
  margin-top: 6rem;
}