// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-icon {
  text-align: center;

  img {
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #999 ;
    height: 100px;
    width: 100px;
  }
}

.user-name {
  font-size: 1.5rem;

  a{
    color: black;
  }
}

.user-title {
  padding: 2rem 1rem;
}

.user-profile-1 {
  text-align: center;

  img {
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #999 ;
    height: 120px;
    width: 120px;
  }

  .action {
    text-align: center;
    margin-right: 0;
    margin-top: 0.5rem;
  }
}

.user-profile-2 {
  padding-left: 1rem;

  p {
    margin-left: 2rem;
  }
}

.user-profile-3 {
  padding-left: 1rem;
  margin-top: 2rem;

  p {
    margin-left: 0;
  }
  span {
    padding: 1rem 0;
    font-size: 0.8rem;
  }
  // .btn {
  //   margin-top: 0.4rem;
  //   width: 30rem;
  //   border: 1px solid #999;
  // }
  .fas {
    color: teal;
  }
  a{
    color: teal;
  }
}

.my-cocktails-title {
  font-family: 'Caveat', cursive;
  margin: 4rem 3rem 2.3rem;
}

.user-form {
  margin-left: 4rem;
  margin-top: 3rem;

  form {
    margin: 0 auto;
  }
}

.user-item {
  margin-bottom: 2rem;

  p {
    margin-left: 2rem;
  }

  .btn {
    margin-left: 2rem;
    margin-top: 2rem;
    width: 8rem;
  }
}

.relationships {
  text-align: center;
  margin-top: -0.5rem;
  font-family:"游ゴシック体";

  .fas {
    color: teal;
  }

  a{
    color: teal;
  }
}